--find-links https://download.pytorch.org/whl/torch_stable.html
neptune-client
nltk
numpy
omegaconf
opencv-contrib-python
opencv-python
pandas
Pillow
pydicom
scikit-image
scikit-learn
scipy
torch==1.7.1+cu101
torchvision==0.8.2+cu101
torchaudio==0.7.2
hydra-core
psutil