--find-links https://download.pytorch.org/whl/torch_stable.html
neptune-client==0.4.120
nltk==3.4.5
numpy==1.18.1
omegaconf==2.0.2
opencv-contrib-python==4.4.0.44
opencv-python==4.2.0.32
pandas==1.1.1
Pillow==7.0.0
pydicom==1.4.2
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
torch==1.7.1+cu101
torchvision==0.8.2+cu101
torchaudio==0.7.2
hydra-core
